  <h2 mat-dialog-title>Detalles del vehiculo</h2>
  <mat-dialog-content class="mat-typography">
    <div class="card-body">
      <mat-form-field>
        <input matInput placeholder="N° de Serie" [(ngModel)]="vehicle.serie" />
      </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="N° de Horas"  type="number" [(ngModel)]="vehicle.hours" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Equipo" [(ngModel)]="vehicle.equipment" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ot"  type="number" [(ngModel)]="vehicle.ot" />
    </mat-form-field>
    
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button class="btn btn-warning btn-sm" (click)="operar()">
      Guardar
    </button>
  <button mat-raised-button class="btn btn-danger btn-sm" (click)="cancelar()">
    Salir
  </button>
</div>

