<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">PASOS PARA GENERAR UN REPORTE</h4>
            <p class="card-category">Guía rápida</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-stats">
                  <div class="card-header card-header-icon card-header-warning">
                    <div class="card-icon">
                      <i class="material-icons">person</i>
                    </div>
                    <p class="card-category">Primer paso</p>
                    <h3 class="card-title">Registrar técnico</h3>
                  </div>
                  <div class="card-body">
                    El primer paso a realizar será acceder a la pestaña:
                    técnico, y agregar o modificar los datos solicitados, para
                    su posterior uso en el archivo.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-stats">
                  <div class="card-header card-header-icon card-header-success">
                    <div class="card-icon">
                      <i class="material-icons">build</i>
                    </div>
                    <p class="card-category">Segundo paso</p>
                    <h3 class="card-title">Registrar vehículo</h3>
                  </div>
                  <div class="card-body">
                    En el segundo paso se debe acceder a la pestaña: vehículo, y
                    agregar o modificar los datos solicitados, para su posterior
                    uso en el archivo.
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card card-stats">
                  <div class="card-header card-header-icon card-header-info">
                    <div class="card-icon">
                      <i class="material-icons">report</i>
                    </div>
                    <p class="card-category">Tercer paso</p>
                    <h3 class="card-title">Generar reporte</h3>
                  </div>
                  <div class="card-body">
                    Ya teniendo al menos un técnico y un vehículo registrado, se
                    puede proceder a generar un reporte para ser descargado en
                    formato PDF.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
