<div class="main-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Full header coloured</h4>
                <p class="card-category">Category subtitle</p>
            </div>
            <div class="card-body">
                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
            </div>
        </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="With Floating Label">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width has-success">
        <input matInput type="text" placeholder="Success input">
        <span class="form-control-feedback">
          <i class="material-icons">done</i>
        </span>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width has-danger">
        <input matInput type="text" placeholder="Error input">
        <span class="form-control-feedback">
          <i class="material-icons">clear</i>
        </span>
      </mat-form-field>
    </div>
  </div>
    </div>
</div>